<main class="bg-gray-50 dark:bg-gray-900 h-screen">
  <div
    class="max-w-screen-xl md:flex flex-col justify-evenly mx-auto p-8 items-center"
  >
    <div
      *ngIf="isProcessing; else elseBlock"
      class="flex items-center justify-center"
    >
      <div
        class="label-loading"
      >
        loading...
      </div>
    </div>

    <ng-template #elseBlock>
      <form
        [formGroup]="loanForm"
        (ngSubmit)="onSubmit()"
        class="max-w-md mx-auto"
      >
        <div class="mb-5">
          <label for="description" class="label-base"> Description </label>
          <input
            id="description"
            type="text"
            formControlName="description"
            placeholder="Loan description"
            class="input-base"
            required
          />
          <div
            *ngIf="loanForm.get('description')?.invalid && loanForm.get('description')?.touched"
            class="label-error"
          >
            Description is required and must have at least 3 characters.
          </div>
        </div>

        <div class="mb-5">
          <label for="amount" class="label-base"> Amount </label>
          <input
            id="amount"
            type="number"
            formControlName="amount"
            placeholder="Enter loan amount"
            class="input-base"
            required
          />
          <div
            *ngIf="loanForm.get('amount')?.invalid && loanForm.get('amount')?.touched"
            class="label-error"
          >
            Amount should be greater than $10.000.
          </div>
        </div>

        <div class="mb-5">
          <label for="rate" class="label-base"> Rate (%) </label>
          <input
            id="rate"
            type="number"
            formControlName="rate"
            placeholder="Enter interest rate"
            class="input-base"
            required
          />
          <div
            *ngIf="loanForm.get('rate')?.invalid && loanForm.get('rate')?.touched"
            class="label-error"
          >
            Rate is required and must be non-negative.
          </div>
        </div>

        <div class="mb-5">
          <label for="installments" class="label-base"> Installments </label>
          <select
            id="installments"
            formControlName="installments"
            class="select-base"
          >
            <option value="1" selected>1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
          <div
            *ngIf="loanForm.get('installments')?.invalid && loanForm.get('installments')?.touched"
            class="label-error"
          >
            Please select a valid number of installments.
          </div>
        </div>

        <button
          type="submit"
          [disabled]="loanForm.invalid"
          class="button-primary"
        >
          Send request to review
        </button>
      </form>
    </ng-template>
  </div>
</main>
